/* Estilos generales de la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0 50px;
    padding: 0;
    background-color: #adf391;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0 50px;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

nav ul li:hover {
    transform: translateY(-5px);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}

/* Sección hero */
.hero{
    background-image: url('../images'); /* Asegúrate de subir la imagen correcta */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
}

.hero p {
    font-size: 1.5em;
    margin: 20px 0;
}

.hero .btn {
    background-color: #adf391;
    color: #000000;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #8ccf6f;
}

/* Contenedor para secciones */
.section-container {
    padding: 40px 20px;
    margin: 80px 0; /* espacio adicional para el header fijo */
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Sección de artistas */
.artist {
    margin: 40px 0;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    text-align: center;
}

.artist:hover {
    transform: scale(1.05);
}

.artist img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.artist h2 {
    margin: 0;
    font-size: 1.8em;
    font-weight: 600;
}

/* Formulario de contacto */

#contacto {
    border-top: 3px solid #8ccf6f; /* Línea verde antes de la sección */
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

#contacto h2,p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form textarea {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: #8ccf6f;
}

form button {
    background-color: #8ccf6f;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    margin: 20px 0 0;
    border-radius: 30px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #77b659;
}

/* Estilo para el pie de página */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer .social-media a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: #adf391;
}

/* Sección de Contacto */

/* Sección de contacto */
.contacto {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor */
    margin: 30px 0;
    position: relative;
}

.contacto::before {
    content: "";
    position: absolute;
    top: -10px; /* Ajusta la posición de la línea */
    left: 0;
    width: 100%;
    height: 1px; /* Grosor de la línea */
    background: linear-gradient(to right, rgba(52, 58, 64, 0) 0%, #343a40 50%, rgba(52, 58, 64, 0) 100%); /* Línea difusa */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.contacto h2 {
    font-size: 2.2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.contacto p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 30px;
}

.contacto .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto form {
    max-width: 600px;
    width: 100%;
    margin-top: 30px;
}

.contacto form label {
    font-size: 1.1em;
    color: #333;
    font-weight: normal;
}

.contacto form input, .contacto form textarea {
    font-size: 1em;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.contacto form input:focus, .contacto form textarea:focus {
    border-color: #8ccf6f;
}

.contacto form button {
    background-color: #8ccf6f;
    color: white;
    padding: 15px 30px;
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacto form button:hover {
    background-color: #77b659;
}

/** Estilos de pantalla pequeña */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .artist {
        flex-direction: column;
        text-align: center;
    }

    .artist img {
        margin: 0 0 10px;
    }
}
